.buttons{
  text-align: right;
  margin-bottom: 130px;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;

}
.btn2{display: none;


}
.myimage{
  float: left;
  margin-left: 22%;
  margin-right: 75px;
}
.intro{
  margin-bottom: 50px;
}
.linkedin{
  display: inline-block;
  width: auto;
}
.hello{
  color: orange;
  font-size: 437.5%;
    font-family: 'Montserrat', sans-serif;

}
.name{
  margin-top: 5px;
  margin-bottom: 250px;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  padding: 10px;
  position: relative;
}
.home{
  margin-right: 10px;

}
.home:hover{
  margin-right: 10px;
  color: #959595;
}
.about1:hover{
  margin-right: 10px;
  color: #959595;
}
.about1{
  margin-right: 10px;
}
.contactme{
  margin-right: 40px;
}
.contactme:hover{
    margin-right: 40px;
  color: #959595;
}
.name1{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
.topline{
  margin-bottom: 50px;
}
.btn1:hover{
  position: relative;
  bottom: 10px;
  padding: 10px ;
  background-color: red;
  border-radius: 20%

}
.btn1{
  position: relative;
  bottom: 10px;
  padding: 10px ;
  background-color: orange;
  border: 0;
  border-radius: 50%
}

.linkedin,.mailto,.insta,.github{
  width: 3.5%;
  padding:10px;

}
.github{
  margin-left: 60px;
}
.copyright{
  position: relative;
  bottom:0;
  left: 42%;
  top: 25px;

}
hr{
  margin:50px 0 20px 0;
  width: 90%;

}
a{
  text-decoration: none;
  color:inherit;
}
.contact{
  font-size: 3.35vw;
margin-left: .5%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%;
position: relative;
bottom: 15px;
  display: inline-block;

}
.python,.html,.css1 {
  display: inline-block;
  width: 10%;
padding: 0 10% 0 10%;
position: relative;
left:4%;
}
.skillp{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.35vw;
padding-left: 45%;}
.programmer{
  width: 10%;
position: absolute;
float: right;
margin-right: 22%;
}
.skilldesc{
  font-size: 10rem;
      margin-left: 4vw;
}
.commimg{
  width: 4%;
  display: inline-block;
  margin-left: 5%;
}
.skilldesc{
  font-size:2.75vw;
line-height: 1.5;
}
.about,.projecttext{
  font-size: 2.5vw;
  line-height: 1.5;
  margin-left: 4vw;
}
.aboutimg{
  float: left;
  width: 4vw;
  position: relative;
  top: 2vw;
  margin-right: 1.5vw;
}
.star{
  width: 1.5vw;
}
.projectimg{
  width: 5vw;
  float: left;
}
.projecth1{
  margin-left:6vw;
  font-size: 3.5vw;
}
.book
{
  width: 5vw;
  float: left;

}
@media (max-width:480px) {

    .buttons{
      display: none;
    }
    .name{
      margin-left: 5vw;
      margin-bottom: 10vw;
      font-size: 8vw;
    }
.skillp{
  font-size: 7vw;
padding-left: 37%;
}
.myimage{
  width: 50%;
  margin-bottom: 7vw;
}
.hello{
  margin-left: 25vw;
  margin-bottom: 3vw;
}
.python,.html,.css1{
  width: 15vw;
padding: 0 7vw 0 7vw;
left: 0;
}
.commimg
{
  width:10vw;
}
.contact{
  font-size: 6vw;
}
.linkedin,.mailto,.insta,.github{
  width: 8vw;
}
.github{
  margin-left: 15px;
}
.skilldesc{
  font-size: 5.5vw;
}
.btn2{
  display: block;
  border-radius: 15%;
background-color: #5dbea3;
width: 22vw;
    font-size: 3vw;
margin-top: 5vw;
margin-left: 34vw;

}
.about,.projecttext{
      font-size: 5vw;
}
.projecth1{
  font-size: 8vw;
}
.aboutimg{
  width: 9vw;
}
.projectimg{
  width: 10vw;
}
.book
{
  width: 5vw;
  float: left;

}
.programmer{
  width: 20%;
}
  .star{width:3.5vw;}
}
