.buttons{
  text-align: right;
  margin-bottom: 130px;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;

}
.myimage{
  float: left;
  margin-left: 22%;
  margin-right: 75px;
}
.intro{
  margin-bottom: 50px;
}
.linkedin{
  display: inline-block;
  width: auto;
}
.hello{
  color: orange;
  font-size: 437.5%;
    font-family: 'Montserrat', sans-serif;

}
.name{
  margin-top: 5px;
  margin-bottom: 250px;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  padding: 10px;
}
.home{
  margin-right: 10px;

}
.home:hover{
  margin-right: 10px;
  color: #959595;
}
.about1:hover{
  margin-right: 10px;
  color: #959595;
}
.about1{
  margin-right: 10px;
}
.contactme{
  margin-right: 40px;
}
.contactme:hover{
    margin-right: 40px;
  color: #959595;
}
.name1{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
.topline{
  margin-bottom: 50px;
}
.btn1:hover{
  position: relative;
  bottom: 10px;
  padding: 10px ;
  background-color: red;
  border-radius: 20%

}
.btn1{
  position: relative;
  bottom: 10px;
  padding: 10px ;
  background-color: orange;
  border: 0;
  border-radius: 50%
}

.linkedin,.mailto,.insta,.github{
  width: 3.5%;
  padding:10px;

}
.github{
  margin-left: 60px;
}
.copyright{
  position: relative;
  bottom:0;
  left: 42%;
  top: 25px;

}
hr{
  margin:50px 0 20px 0;
  width: 90%;

}
a{
  text-decoration: none;
  color:inherit;
}
.contact{
  font-size: 300%;
margin-left: .5%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2%;
position: relative;
bottom: 15px;
  display: inline-block;

}
.python,.html,.css1 {
  display: inline-block;
  width: 10%;
padding: 0 10% 0 10%;
position: relative;
left:4%;
}
.skillp{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
padding-left: 45%;}
.programmer{
  width: 10%;

float: right;
margin-right: 18%;
}
.commimg{
  width: 4%;
  display: inline-block;
  margin-left: 5%;
}
